html{
	padding:0;
	margin:0;
}
body{
	padding:0;
	margin:0;
}
.blockDiv{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position:relative;
}
.block1{
	background-image:url(../imgs/bg2.png);
}
.block2{
	background-image:url(../imgs/bg1.png);
}
.headImg{
	border-radius:100%;
	width: 6rem;
	height: 6rem;
	overflow:hidden;
	margin: 0 auto;
	position: relative;
}
.headImg > img{
	width: 100%;
	height: 100%;
	display:block;
}
.myName{
	color:#000;
	text-align: center;
	position: relative;
	font-size: 3rem;
	font-weight: 800;
}
/* 黑色按钮 */
.down1{
	width: 62px;
	height: 62px;
	background-image:url(../imgs/arrow.png);
	background-repeat: no-repeat;
	/* background-position: 100% 0; */
	background-position: 0 100%;
	position: absolute;
	bottom: 44px;
	left: calc((100% - 62px)/2);
}
/* 白色按钮 */
.down2{
	width: 62px;
	height: 62px;
	background-image:url(../imgs/arrow.png);
	background-repeat: no-repeat;
	/* background-position: 100% 0; */
	background-position: 0 0;
	position: absolute;
	bottom: 44px;
	left: calc((100% - 62px)/2);
}
/* 返回按钮 */
.down3{
	width: 80px;
	height: 80px;
	background-image:url(../imgs/arrow.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
	/* background-position: 0 0; */
	position: absolute;
	bottom: 44px;
	left: calc((100% - 62px)/2);
}