html{
	padding:0;
	margin:0;
}
body{
	padding:0;
	margin:0;
	background-color:#000;
}
.blockDiv{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position:relative;
	display:none;
}
.block1{
	background-image:url(../imgs/bg1.jpg);
}
.block2{
	background-image:url(../imgs/bg2.jpg);
}
.block3{
	background-image:url(../imgs/bg3.jpg);
}
.headImg{
	border-radius:100%;
	width: 6rem;
	height: 6rem;
	overflow:hidden;
	margin: 0 auto;
	position: relative;
}
.headImg:hover{
	animation:snake 8s;
	/* -webkit-animation: snake 10s; */
}
@-webkit-keyframes 'snake'{
	0% {transform:rotate(0deg);} 
	20% {transform:rotate(-60deg) scale(1.2,1.2);}  
	22.5% {transform:rotate(-30deg) scale(1.2,1.2);} 
	25% {transform:rotate(-60deg) scale(1.2,1.2);} 
	27.5% {transform:rotate(-30deg) scale(1.2,1.2);} 
	30% {transform:rotate(-60deg);} 
	
	50% {transform:rotate(0deg);} 
	
	/* 60% {transform:rotate(60deg);}  */
	/* 70% {transform:rotate(30deg);}  */
	/* 80% {transform:rotate(60deg);}  */
	/* 90% {transform:rotate(30deg);}  */
	/* 100% {transform:rotate(0deg);}  */
}
.down{
	animation:scaleBtn 2s ease 0s infinite normal;
}
@-webkit-keyframes 'scaleBtn'{
	from {transform:scale(1,1)}
	to {transform:scale(1.1,1.1)}
}
.headImg > img{
	width: 100%;
	height: 100%;
	display:block;
}
.myName{
	color:#000;
	text-align: center;
	position: relative;
	font-size: 3rem;
	font-weight: 800;
}
/* 黑色按钮 */
.down1{
	width: 62px;
	height: 62px;
	background-image:url(../imgs/arrow.png);
	background-repeat: no-repeat;
	/* background-position: 100% 0; */
	background-position: 0 100%;
	position: absolute;
	bottom: 44px;
	left: calc((100% - 62px)/2);
}
/* 白色按钮 */
.down2{
	width: 62px;
	height: 62px;
	background-image:url(../imgs/arrow.png);
	background-repeat: no-repeat;
	/* background-position: 100% 0; */
	background-position: 0 0;
	position: absolute;
	bottom: 44px;
	left: calc((100% - 62px)/2);
}
/* 返回按钮 */
.down3{
	width: 80px;
	height: 80px;
	background-image:url(../imgs/arrow.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
	/* background-position: 0 0; */
	position: absolute;
	bottom: 44px;
	left: calc((100% - 62px)/2);
}
.progressBar{
	animation:rotateY 3s linear 0s infinite normal;
	position:fixed;
	top:45%;
	left:calc((100% - 2rem)/2);
	width:5rem;
	height:5rem;
	border-radius:100%;
	overflow:hidden;
}
.progressBar > img{
	width:100%;
	height:100%;
}
@-webkit-keyframes 'rotateY'{
	from {transform:rotateY(0deg);}
	to {transform:rotateY(360deg);}
}
.progressBarText{
	color:#fff;
}