html{
	padding:0;
	margin:0;
}
body{
	padding:0;
	margin:0;
}
.block1{
	background-image:url(../imgs/bg1.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.headImg{
	border-radius:100%;
	width: 6rem;
	height: 6rem;
	overflow:hidden;
	margin: 0 auto;
	position: relative;
}
.headImg > img{
	width: 100%;
	height: 100%;
	display:block;
}
.myName{
	color:#000;
	text-align: center;
	position: relative;
	font-size: 3rem;
	font-weight: 800;
}